* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //10px
}

main {
    width: 1000px;
    margin: 0 auto;
}

header {
    padding: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid gray;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

.active {
    color: blue;
    font-weight: bold;
    border-bottom: 3px solid blue;
}

a:link,
a:visited {
    text-decoration: none;
    color: blue;
}

p {
    padding-bottom: 1.6rem;
    line-height: 2.4rem;
}

p,
li {
    font-size: 1.4rem;
}

p:first-child {
    padding-top: 1rem;
}

.up-menu {
    display: flex;
    justify-content: space-between;
}

section {
    margin-top: 10rem;
}

.account-settings {
    color: black;
    font-size: 2rem;
    color: white;
}

.account-settings {
    background-color: #886F65;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-menu ul {
    display: flex;
    list-style: none;
}

.down-menu ul li {
    padding: 1rem 0;
    font-size: 1.6rem;
}

.down-menu ul li:not(:first-child) {
    padding: 1rem 0;
    padding-left: 1rem;
}

ol li {
    list-style: decimal;
    list-style-position: inside;
}

ol li ol li {
    list-style: lower-alpha;
    list-style-position: inside;
}