* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

header {
    padding: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid gray;
}

main {
    width: 1000px;
    margin: 0 auto;
    padding-top: 6rem;
}

section {
    margin-top: 3rem;
}

h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

p {
    padding-bottom: 1.6rem;
    line-height: 2.4rem;
    font-weight: 200;
}

p,
li {
    font-size: 1.4rem;
}

p:first-child {
    padding-top: 1rem;
}

ol,
ol ol {
    padding-left: 2rem;
}

ol li {
    line-height: 2rem;
}

.down_menu--active-li {
    color: blue;
    font-weight: bold;
    border-bottom: 3px solid blue;
}

a:link,
a:visited {
    text-decoration: none;
    color: blue;
}

.up-menu {
    display: flex;
    justify-content: space-between;
}

.account-settings {
    color: black;
    font-size: 2rem;
    color: white;
    background-color: #886F65;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-menu ul {
    display: flex;
    list-style: none;
}

.down-menu ul li {
    padding: 1rem 0;
    font-size: 1.6rem;
}

.down-menu ul li:not(:first-child) {
    padding: 1rem 0;
    padding-left: 1rem;
}

li {
    list-style-position: inside;
}

ol li {
    list-style: decimal;
}

ol li ol li {
    list-style: lower-alpha;
}